/*************** Extra small ******************************************************************************************************/
/**********************************************************************************************************************************/
@media screen and (max-width:576px) {
    .container{
        width: 80%;
    }
    /* Header */
    header{
        box-shadow: none;
        margin-top: 50px;
    }
    header .logo{
        justify-content: center;
    }
    header .container{
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        row-gap: 25px;
        margin-top: 25px;
    }
    /* Hero */
    #hero{
        background-image: none;
    }
    #hero .hero-l{
        padding: 0;
        background-image: url(../images/Group\ 14.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #hero .hero-body{
        display: flex;
        justify-content: center;
        row-gap: 60px;
        flex-direction: column-reverse;
    }
    .hero-l{
        justify-items: center;
    }
    .hero-l h3{
        font-size: 30px;
    }
    .hero-l h2{
        font-size: 60px;
    }
    .hero-l ul li {
        font-size: 12px;
    }
    .hero-btn button{
        font-size: 12px;
        padding: 14px 24px;
    }
    


}

/***************** Medium ***********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 577px) and (max-width:768px) {}

/****************** Large ***********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 769px) and (max-width:992px){}

/****************** X-Large ***********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 993px) and (max-width:1440px) {}

/****************** XL-Large ***********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 1441px) {}