/*************** Extra small ******************************************************************************************************/
/**********************************************************************************************************************************/
@media screen and (max-width:576px) {
    /* Header */
    header{
        box-shadow: none;
        margin-top: 50px;
    }
    header .logo{
        justify-content: center;
    }
    header .container{
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        row-gap: 25px;
        margin-top: 25px;
    }




}

/***************** Medium ***********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 577px) and (max-width:768px) {}

/****************** Large ***********************************************************************************************************/
/************************************************************************************************************************************/
@media screen and (min-width: 769px) and (max-width:992px){}

/****************** X-Large ***********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 993px) and (max-width:1440px) {}

/****************** XL-Large ***********************************************************************************************************/
/**************************************************************************************************************************************/
@media screen and (min-width: 1441px) {}